@import '../../../../shared/styles/variables.css';

.categoryButton {
    font-family: var(--font-helvetica), sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-grey);
    border-radius: 16px;
    padding: 4px 10px;
    background-color: transparent;
    color: var(--color-grey);
    cursor: pointer;
    font-size: 12px;
    transition:
            background-color 0.2s,
            color 0.2s;
}

.selected {
    background-color: var(--color-acid);
    color: var(--color-black);
}

.categoryButton svg {
    fill: var(--color-white);
    transition: fill 0.3s ease;
}

.categoryButton.selected svg path {
    fill: var(--color-black);
}

.icon {
    display: flex;
    gap: 8px;
}