@import '../../../../shared/styles/variables.css';

.categoryButton {
    font-family: var(--font-helvetica), sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-white);
    border-radius: 16px;
    padding: 8px 16px;
    background-color: var(--color-dark);
    color: var(--color-white);
    cursor: pointer;
    font-size: 14px;
    transition:
            background-color 0.2s,
            color 0.2s;
}

.selected {
    background-color: var(--color-white);
    color: var(--color-black);
    border-color: var(--color-white);
}

.categoryButton svg {
    fill: var(--color-white);
    transition: fill 0.3s ease;
}

.categoryButton.selected svg {
    background-color: var(--color-white);
    fill: var(--color-black);
}

.icon {
    display: flex;
    gap: 16px;
}