@import "../../shared/styles/variables.css";

.loadingScreen {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loadingContent {
    margin-top: 16px;
    text-align: center;
    color: var(--color-magenta);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loadingTitle {
    color: var(--color-white);
    font-size: 2rem;
    line-height: 1.2;
}

.loadingIllustration {
    height: auto;
}
