@import '../../../shared/styles/variables.css';

.headerFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    color: white;
    margin-top: 32px;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerLeft h1 {
    font-family: var(--font-Cyrge), sans-serif;
    font-weight: 500;
    font-size: clamp(24px, 1vw, 1.2vw);
    color: var(--color-black);
    margin: 0;
}

.closeButton {
    position: relative;
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.closeButton::before,
.closeButton::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: #000000;
    transform: translate(-50%, -50%) rotate(45deg);
}

.closeButton::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}