.filters {
    padding: 18px;
    height: auto;
    overflow: auto;
    background-color: var(--color-white);
    overflow-x: hidden;
}

.categoryBlock {
    margin-bottom: 12px;
}

.categoryBlock:nth-child(3n) {
    h3 {
        margin-bottom: 40px;
    }
}

.categoryHeader {
    font-family: var(--font-Cyrge) sans-serif;
    font-size: clamp(24px, 1vw, 2vw);
    font-weight: inherit;
    color: var(--color-black);
    margin-bottom: 16px;
}

@media screen and (min-width: 487px) {
    .filters {
        height: 100%;
    }
}