@import "../../../../shared/styles/variables.css";

.card {
    position: relative;
    pointer-events: auto;
    width: 100vw;
    max-width: 560px;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    font-family: var(--font-Cyrge), sans-serif;
    background-color: var(--color-white);
}

.cardWrapper {
    width: 100%;
    height: 100%;
    aspect-ratio: 9/16;
    position: relative;
    overflow: hidden;
    margin: auto;
    user-select: none;
}

.cardWrapper::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 20%), rgba(0, 0, 0, 0.6), rgba(26, 26, 26, 0.9), rgba(28, 28, 28, 100%));
}

.cardWrapperBlacked::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.9), rgba(26, 26, 26, 0.9), rgba(28, 28, 28, 100%));
}

.slider {
    position: absolute;
    width: 100%;
    top: 46px;
    padding: 0 16px;
    display: flex;
    justify-content: center;
}

.slideContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

.indicator {
    flex-grow: 1;
    height: 2px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    border-radius: 50px;
}

.indicator.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--color-primary-yellow);
    animation: fill 5s linear forwards;
}

@keyframes fill {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.upperInfo {
    display: flex;
    width: 100%;
    padding: 0 16px;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    color: var(--color-white);

    div {
        display: flex;
        gap: 16px;
    }
}

.cardImg {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    user-select: none;
    transition: 0.2s opacity ease-in-out;
}

.mainActionsWrapper {
    padding: 15px 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: -150px;
    width: 100%;
    height: fit-content;
}

.cardInfo {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    padding: 15px;
    width: clamp(380px, 100%, 100vw);
    z-index: 3;
    transition: opacity 0.35s ease, max-height 0.35s ease;
}

.shortInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-white);
}

.moreButton {
    z-index: 1;
    display: block;
    border: none;
    border-radius: 15px;
    background: var(--color-primary-yellow);
    color: var(--color-dark);
    width: 108px;
    height: 37px;
    cursor: pointer;
}

.backButton {
    transform: rotate(180deg);
    border: none;
    background: transparent;
}

.backButton.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.starButton, .backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    cursor: pointer;
}

.starButton {
    button {
        background: transparent;
        border: none;
    }
}

.cardTitle {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.icon {
    width: 24px;
    height: 24px;
}

.cardTitleName {
    color: var(--color-white);
    font-weight: bold;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.cardPrice {
    font-size: 16px;
}

.eventInfo {
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3 {
        font-family: var(--font-Cyrge), sans-serif;
        font-size: 1.2rem;
        font-weight: normal;
    }

    p {
        font-size: 1rem;
    }
}

.eventDescription {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: all 0.3s
}

.eventDescriptionOpenedWrapper {
    max-height: 150px;
    overflow: auto;
}

.eventDescriptionOpened {
    font-size: 1rem;
}

.cardDetailsLink {
    display: block;
    text-align: center;
    background: var(--color-primary-yellow);
    color: var(--color-dark);
    padding: 0.6em 1.4em;
    border-radius: 1.3em;
    font-weight: normal;
    text-decoration: none;
}

.eventDescriptionOpenedContent {
    margin-top: 24px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.errorMessage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    height: 30vh;
    color: var(--color-red);
}
