@import '../../shared/styles/variables.css';

.form {
    margin-top: 3vh;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.inputWrapper::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 2px;
    background: var(--color-dark-grey);

}

.inputWrapper:focus-within::after {
    transform: scaleX(1);
}

.field {
    width: 100%;
    border: none;
    background: transparent;
    color: var(--color-black);
    padding: 14px 0 10px;
    font-size: 18px;
    outline: none;
}

.field:focus::after {
    transform: scaleX(1);
}

.field::placeholder {
    color: var(--color-black);
}

.row {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
}


.forgotLink {
    flex: 0 0 auto;
    font-size: 14px;
    color: var(--color-black);
    text-decoration: none;
    white-space: nowrap;
    font-family: var(--font-Cyrge-Medium), sans-serif;
    text-decoration: underline;
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 8px;
}


.loginButton,
.yandexButton {
    width: 100%;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-family: var(--font-Cyrge), sans-serif;
    padding: 14px 0;
    margin-top: 32px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.loginButton {
    background: var(--color-alt-grey);
    color: var(--color-dark-grey);
    margin-top: 20vh;
}

.loginButton:hover {
    background: var(--color-light-grey);
    color: var(--color-black);
}

.yandexButton {
    background: var(--color-primary-yellow);
    color: var(--color-black);
    margin-top: 16px;
}

.yandexButton:hover {
    background: var(--color-bright-acid);
}

.error {
    color: var(--color-red);
    font-size: 15px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .field {
        font-size: 20px;
    }

    .loginButton,
    .yandexButton {
        font-size: 20px;
    }
}
