@import "../../shared/styles/variables.css";

.login {
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 100%;
    max-width: 430px;
    height: 100vh;
    padding: 0 24px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: var(--font-Cyrge), sans-serif;
    font-size: 2rem;
    color: var(--color-black);
}

.describe {
    margin-top: 3vh;
    text-align: left;
    color: var(--color-black);
    font-size: 15px;
    font-family: var(--font-Cyrge), sans-serif;
}

.describeLink {
    color: var(--color-black);
    text-decoration: none;
    text-decoration: underline;
    font-family: var(--font-Cyrge), sans-serif;
}

.error {
    color: var(--color-red);
    font-size: 15px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .login {
        padding: 6vh 24px 8vh;
    }
}
