/*.filter-button{*/
/*    z-index: 1001;*/
/*    position: fixed;*/
/*    right: 4vw;*/
/*    top: 8vh;*/
/*    background-color: #191919;*/
/*    color: white;*/
/*    border: 2px solid #FFFFFF;*/
/*    border-radius: 16px;*/
/*    font-size: 14px;*/
/*    padding: 8px 16px;*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 16px;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.2s, color 0.2s;*/
/*}*/
/*.filter-button:hover{*/
/*    background-color: #ecebec;*/
/*}*/

.cardWrapper {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noResultsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.noResultsContainer p {
    margin-bottom: 20px;
}

.noResultsContainer button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}