
/*.filter-button{*/
/*    z-index: 1001;*/
/*    position: fixed;*/
/*    right: 4vw;*/
/*    top: 8vh;*/
/*    background-color: #191919;*/
/*    color: white;*/
/*    border: 2px solid #FFFFFF;*/
/*    border-radius: 16px;*/
/*    font-size: 14px;*/
/*    padding: 8px 16px;*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    gap: 16px;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.2s, color 0.2s;*/
/*}*/
/*.filter-button:hover{*/
/*    background-color: #ecebec;*/
/*}*/

.cardWrapper {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    margin-bottom: 60px;
}