@import "../../styles/variables.css";

.navigation {
    position: fixed;
    bottom: 22px;
    right: 15px;
    left: 15px;
    text-align: center;
    background-color: var(--color-white);
    border-radius: 50px;
    max-height: 48px;
    height: 100%;
    z-index: 100;
    max-width: 540px;
    margin: 0  auto;
}

.bottomPlate {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    background: var(--color-white);
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    z-index: 90;
    box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.12);
}

.fullNavContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.navButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallNavContent {
    display: flex;
    justify-content: center;
}

.navImg {
  width: 28px;
  height: 28px;
  display: block;
}