@import "../../styles/variables.css";

.navigation {
    position: fixed;
    bottom: 22px;
    right: 15px;
    left: 15px;
    text-align: center;
    background-color: var(--color-white);
    border-radius: 50px;
    max-height: 72px;
    height: 100%;
    z-index: 100;
    max-width: 540px;
    margin: 0  auto;
}

.fullNavContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.navButton {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallNavContent {
    display: flex;
    justify-content: center;
}