

.favorites-header {
    color: #ECFE54;
    font-size: 35px;
    text-align: center;
    font-family: "Soyuz-Grotesk-Bold", sans-serif;
    padding-top: 10vh;
    padding-bottom: 24px;
}

.arrow-favorites {
    display: flex;
    align-items: center;
    font-family: "Soyuz-Grotesk-Bold", sans-serif;
    font-size: 32px;
    color: #FF6CF1;
    padding-left: 15px;
    padding-bottom: 24px;
    gap: 15px;
}

.arrow-liked {
    display: flex;
    align-items: center;
    font-family: "Soyuz-Grotesk-Bold", sans-serif;
    font-size: 32px;
    color: #8CF63B;
    padding-left: 15px;
    padding-bottom: 24px;
    padding-top: 24px;
    gap: 15px;
}

.liked-card {
    width: 100%;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 4px;
    position: relative;

}

.liked-card-img-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.liked-card-img {
    width:100%;
    height: auto;
    border-radius: 12px;
}

.favorite-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    cursor: pointer;

}

.trash-button {
    position: absolute;
    top: 8px;
    left: 8px;
    background: none;
    border: none;
    cursor: pointer;
}

.liked-card-date {
    font-family: "Soyuz-Grotesk-Bold", sans-serif;
    font-size: 14px;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.liked-card-content {
    margin-top: 16px;
    color: black;
}

.liked-card-title {
    font-family: "Soyuz-Grotesk-Bold", sans-serif;
    font-size: 20px;
    margin-left: 8px;
}

.liked-card-address {
    font-family: "Helvetica-regular", sans-serif;
    font-size: 12px;
    margin-bottom: 16px;
    margin-left: 8px;
}

.liked-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 0 16px;
    margin-bottom: 60px;
}

.fixed-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #191919;
    text-align: center;
    z-index: 999;
}