@import './shared/styles/fonts.css';
@import './shared/styles/variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-dark) !important;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    touch-action: none;
    overscroll-behavior: none;
}
